
.wrapper{
  display: flex;
  align-items: center;
  background-color: #D4D4D8;
  padding: 15px 2em 15px 2em;
  border-radius: 2px;
  max-width: 100%;
  margin-bottom: 15px;
}

.wrapper p{
  font-size: 1.5rem;
}
.wrapper .switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  min-width: 3.5em;
  min-height: 2em;
  margin-right: 1.5rem;
 }
 
 /* Hide default HTML checkbox */
 .wrapper .switch input {
  opacity: 0;
  width: 0;
  height: 0;
 }
 
 /* The slider */
 .wrapper .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-light);
  transition: .4s;
  border-radius: 30px;
 }
 
 .wrapper .slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  border-radius: 20px;
  left: 0.3em;
  bottom: 0.3em;
  background-color:var(--color-white);
  transition: .4s;
 }
 
 .wrapper input:checked + .slider {
  background-color:var(--color-dark);
 }
 
 .wrapper input:focus + .slider {
  box-shadow: 0 0 1px var(--color-dark);
 }
 
 .wrapper input:checked + .slider:before {
  transform: translateX(1.5em);
 }